.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  width: 30%;
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.loginText{
  color: #3399FF;

}